.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  outline: none;
  border: 1.5px solid #161c2d;
}

.contact-form form input[type="submit"] {
  font-weight: 600;
  background: #495fef;
  border: none;
  color: #fff;
}

.contact-form form textarea {
  resize: none;
}
.contact-text p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #161c2d;
}

.contact-text p a {
  text-decoration: none;
  color: #161c2d;
}

@media (max-width: 600px) {
  .contact-text p {
    font-size: 14px;
  }
  .head-main-title {
    font-size: 30px;
  }
}
